@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 15, 13;
  --background-end-rgb: 10, 15, 13;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }

  .glass-card {
    @apply bg-card/50 backdrop-blur-md border border-white/5 hover:bg-card-hover/50 transition-colors duration-300;
  }
}
